# Ensure that text files that any contributor introduces to the repository
# have their line endings normalized to LF
* text=auto

# All known text filetypes
*.md text
*.proto text
*.rs text
*.sh text
*.toml text
*.txt text
*.yml text

# Use Rust syntax highlighter for Move and Move IR code
*.move linguist-language=Rust
*.mvir linguist-language=Rust
