
# Distribution / packaging

# OSX
*.DS_Store

# Installer logs

# Unit test / coverage reports

# Docusaurus
website/build/
website/i18n/
website/node_modules/

# libra/libra is cloned from github and used to extract crate READMEs and Coding Guidelibnes
libra
docs/crates/*
docs/community/coding-guidelines.md
docs/community/contributing.md
