main {
  position: relative;
}

iframe {
  width: 100%;
  height: 800px;
  border: 0;
}

.main-content {
  width: calc(100vw - var(--right-sidebar-width) - var(--left-sidebar-width));
}

/* Documentation Classes */
.gapless-image {
  margin-top: -9px;
}

.deep-dive-image {
  max-width: 200px;
}
