.videoEmbed {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0% 0% 56.25%;
  position: relative;
  width: 100%;
}

.videoEmbed iframe {
  border: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
